Package: oyo-sys-tools
Version: 1.0-1
Architecture: all
Maintainer: open.Yellow.os Team <maintainers@openyellow.os>
Installed-Size: 27
Depends: bash, whiptail, pciutils, usbutils
Section: utils
Priority: optional
Homepage: https://github.com/openyellowos
Description: Utility scripts for open.Yellow.os (help-hw, oyo-check, pacup)
 This package provides helpful maintenance and diagnostic tools used in
 the open.Yellow.os distribution.
